---
layout: default
title: Personal Site
---

<h2>About Me</h2>
<img src="/public/image/profile.jpg" alt="Cartoon image of Elaina" style="float:right"/>
<p>Hi there! I'm Elaina and I'm an <b>Instructional Designer & A/V Specialist</b> at the <b>University of Illinois Urbana-Champaign</b> in the <b>Department of Computer Science</b>. I accepted this role in November of 2023. More information to come as this story develops.</span></p>

<h3>Academic Background</h3>
<p>I completed my undergraduate degree in Linguistics at <a href="https://www.reed.edu/about-reed/">Reed College</a> in 2019. Through that experience, I developed a love of working with unstructured data and being able to tell compelling stories through the power of computing. More information about my linguistics work can be found <a href="/linguistics">here</a>.</p>

<img src="/public/image/block-i.png" alt="University of Illinois block I logo" style="float:left"/>
<p>After graduating from Reed College, I discovered that computer science could offer more powerful tools to pursue my interest in data science,  which brought me to the <a href="https://cs.illinois.edu/academics/graduate/ican">iCAN</a> program at the <a href="https://cs.illinois.edu/">University of Illinois Urbana-Champaign</a> (UIUC), a bridge program designed to broaden access to computing. After iCAN, I was accepted to the Master's program at UIUC to continue my computer science education and graduated in May of 2023. More information about projects I completed during my time at UIUC can be found <a href="/UIUCProjects">here</a>.</p>

<h3>DREAM Fellowship</h3>
<p>While in the iCAN program at UIUC, I was fortunate to be a <a href="https://tech.mines.edu/dream/">DREAM</a> Fellow and conduct research on the nature of scientific impact with <a href="https://cs.illinois.edu/about/people/faculty/chackoge">Dr. George Chacko</a>. I was able to devote 400 hours of work on an independent project of my choice through the support of the DREAM program and I chose to report on different metrics for evaluating the impact of scientific studies. For more information, please see my <a href="https://el-wittmer.github.io/dream">project website.</a></p>
<hr />
<h2 id="blog">Field Notes</h2>
<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
      <h3 class="post-title">
          {{ post.title }}
      </h3>
  
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {% if post.content.size > post.excerpt.size %}
        {{ post.excerpt | markdownify }}
        <p><a href="{{ post.url }}">Read more...</a></p>
      {% endif %}
      
    </div>
    {% endfor %}
  </div>
